%h2.text-center &nbsp;Link&nbsp;
%ul.media-list
  %li.media
    .pull-left
    %img.media-object= link_to image_tag('banar_cocomugen.jpg', height: '100px'), 'https://ja-jp.facebook.com/cocomugen'
    .media-body.pull-right= link_to 'facebook', 'https://ja-jp.facebook.com/cocomugen'    
  %li.media
    .pull-left
    %img.media-object= link_to image_tag('banar_mcaassociation.jpg', height: '100px'), 'http://mcai.jp/index.html'
    .media-body.pull-right= link_to 'MCA協会', 'http://mcai.jp/index.html'
  %li.media
    .pull-left
    %img.media-object= link_to image_tag('banar_misa.jpg', height: '100px'), 'http://www.mc-misa.com/'
    .media-body.pull-right= link_to '町田美佐', 'http://www.mc-misa.com/'
  %li.media
    .pull-left
    %img.media-object= link_to image_tag('banar_barkimie.png', height: '100px'), 'https://www.facebook.com/pages/Bar-kimie/230062097165795'
    .media-body.pull-right= link_to 'bar kimie', 'https://www.facebook.com/pages/Bar-kimie/230062097165795'
