%h1.topic_title.text-center Profile
%br
%br
%br
.row.profile
  .col-sm-8
    %br
    = image_tag('about/satomi.jpg', alt: "satomi", title: "satomi", class: "center-block", width: "200")
    %br
    %h4 製菓学校卒業後、ケーキ屋、レストラン、製菓学校に勤務する。
    %h4 パティシエールの傍ら、店の看板を描きたいと思いチョークアートに出会う。
    %h4 町田美佐先生に師事し、2013年プロコースを卒業。現在に至る
    %br
    %br
  .col-sm-3
    %br
    = image_tag('about/self-portrait.jpg', class: "self-portrait", height: "200")
%br
%br
%h1.topic_title.text-center ChalkArt
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "height:200px" }
      .caption
        .text-center No.101
        .text-center ホワイト
        .text-center white
      = image_tag('color_sample/White.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "height:200px" }
      .caption
        .text-center No.104
        .text-center.gt10-ja ディープクロムイエロー
        .text-center.gt17-en Deep Chrome Yellow
      = image_tag('color_sample/DeepChromeYellow.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.106
        .text-center ディープオレンジ
        .text-center Deep Orange
      = image_tag('color_sample/DeepOrange.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.110
        .text-center サターンレッド
        .text-center Saturn Red
      = image_tag('color_sample/SaturnRed.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.113
        .text-center カーマイン
        .text-center Carmine
      = image_tag('color_sample/Carmine.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.115
        .text-center ローズピンク
        .text-center Rose Pink
      = image_tag('color_sample/RosePink.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.116
        .text-center カーマインマダー
        .text-center Carmine Madder
      = image_tag('color_sample/CarmineMadder.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.117
        .text-center ローズマダー
        .text-center Rose Madder
      = image_tag('color_sample/RoseMadder.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.118
        .text-center.gt10-ja ヒヤシンスバイオレット
        .text-center Hyacinth Violet
      = image_tag('color_sample/HyacinthViolet.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.119
        .text-center レッドバイオレット
        .text-center Red Violet
      = image_tag('color_sample/RedViolet.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.120
        .text-center ディープマダー
        .text-center Deep Madder
      = image_tag('color_sample/DeepMadder.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.121
        .text-center バイオレット
        .text-center Violet
      = image_tag('color_sample/Violet.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.122
        .text-center ライトオーカー
        .text-center Light Ochre
      = image_tag('color_sample/LightOchre.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.123
        .text-center ローシェンナー
        .text-center Raw Sienna
      = image_tag('color_sample/RawSienna.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.126
        .text-center テラコッタ
        .text-center Terra Cotta
      = image_tag('color_sample/TerraCotta.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.127
        .text-center インディアンレッド
        .text-center Indian Red
      = image_tag('color_sample/IndianRed.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.128
        .text-center セピア
        .text-center Sepia
      = image_tag('color_sample/Sepia.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.129
        .text-center バンダイクプラウン
        .text-center Van Dyke Brown
      = image_tag('color_sample/VanDykeBrown.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.131
        .text-center ブラック
        .text-center Black
      = image_tag('color_sample/Black.png', class: 'color-sample-white')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.134
        .text-center グレイ2
        .text-center Gray2
      = image_tag('color_sample/Gray2.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.135
        .text-center ライトブルー
        .text-center Light Blue
      = image_tag('color_sample/LightBlue.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.136
        .text-center ピーコックブルー
        .text-center Peacock Blue
      = image_tag('color_sample/PeacockBlue.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.137
        .text-center コバルトブルー
        .text-center Cobalt Blue
      = image_tag('color_sample/CobaltBlue.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.138
        .text-center ウルトラマリンブルー
        .text-center Ultramarine Blue
      = image_tag('color_sample/UltramarineBlue.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.140
        .text-center プルシャンブルー
        .text-center Prussian Blue
      = image_tag('color_sample/PrussianBlue.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.143
        .text-center サップグリーン
        .text-center Sap Green
      = image_tag('color_sample/SapGreen.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.145
        .text-center コバルトグリーン
        .text-center Cobalt Green
      = image_tag('color_sample/CobaltGreen.png', class: 'color-sample')
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.146
        .text-center ビリジャングリーン
        .text-center Viridian Green
      = image_tag('color_sample/ViridianGreen.png', class: 'color-sample')
.row
  .col-xs-6.col-sm-3
    .thumbnail{ style: "width:100px height:200px" }
      .caption
        .text-center No.147
        .text-center ボトルグリーン
        .text-center Bottle Green
      = image_tag('color_sample/BottleGreen.png', class: 'color-sample')

.row
  .col-xs-12.col-sm-12
    ※実際の色とは多少見た目が異なります
