%h1.topic_title.text-center Profile
%br
.row
  .col-sm-1
  .col-sm-11
    %h3 Satomi 
    %br
    %h5 製菓学校卒業後、ケーキ屋、レストラン、製菓学校に勤務する。
    %h5 パティシエールの傍ら、店の看板を描きたいと思いチョークアートに出会う。
    %h5 町田美佐先生に師事し、2013年プロコースを卒業。現在に至る
%br
%br
%h1.topic_title.text-center ChalkArt
.row
  .col-sm-1
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color001
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color002
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color003
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color004
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color005
  .col-sm-1
.row
  .col-sm-1
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color006
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color007
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color008
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color009
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color010
  .col-sm-1
.row
  .col-sm-1
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color011
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color012
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color013
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color014
  .col-xs-6.col-sm-2
    .thumbnail{ style: "width:100px height:150px" }
      = image_tag('green001.png')
      .caption
        %h5.text-center color015
  .col-sm-1
