%h1.topic_title.text-center &nbsp;Price list&nbsp;
%table.table.table-bordered.table-price
  %tr
    %th サイズ
    %th 価格
    %th 用途
  - @price.each do |e|
    %tr
      %td= e.size
      %td= e.price.to_s + '円〜'
      %td= e.purpose

%h1.topic_title.text-center &nbsp;How to order&nbsp;
%br
%h4 1. オーダーフォームに必須事項をご入力ください
%br
%h4 2. 2～3日以内にこちらから、ご入力していただいたメールアドレスに連絡いたします。
%br
%h4 3. オーダーフォームに従い、下書きを作成いたします。(1～2週間) (注1)
%br
%h4 4. お客さまがご納得していただいた上で、ブラックボードに描いていきます。(1～2週間)(注2)
%br
%h4 5. 納品(注3)
&nbsp;
%h5 注1:何度でも無料で修正いたします。回数を重ねた場合、2週間以上かかることがございます。
%h5 注2:指定口座にご入金を確認できた上で描き始めさせていただきます。ご入金されてからのキャンセルは、返金致しかねますのでご了承ください。
%h5 注3:ご指定の住所にお送りいたします。届きましたら、お早目に開封していただき破損が無いかどうかご確認ください。

.text-center
  %img.text-center.media-object= link_to image_tag('button_contact.jpg'), new_order_path
        
-# = @price.each{ |e|; p (e.price)}
= debug(params) if Rails.env.development?
