= stylesheet_link_tag    'css/lightbox', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'js/lightbox', 'data-turbolinks-track' => true

%h1.topic_title.text-center Gallery
.row
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery001
      = link_to image_tag('gallery/thumbnail/001.jpg'), asset_path('gallery/lightbox/001.jpg'), :'data-lightbox' => "image.id"
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery002
      = link_to image_tag('gallery/thumbnail/002.jpg'), asset_path('gallery/lightbox/002.jpg'), :'data-lightbox' => "image.id"
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery003
      = link_to image_tag('gallery/thumbnail/003.jpg'), asset_path('gallery/lightbox/003.jpg'), :'data-lightbox' => "image.id"
.row
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery004
      = link_to image_tag('gallery/thumbnail/004.jpg'), asset_path('gallery/lightbox/004.jpg'), :'data-lightbox' => "image.id"
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery005
      = link_to image_tag('gallery/thumbnail/005.jpg'), asset_path('gallery/lightbox/005.jpg'), :'data-lightbox' => "image.id"
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery006
      = link_to image_tag('gallery/thumbnail/006.jpg'), asset_path('gallery/lightbox/006.jpg'), :'data-lightbox' => "image.id"
.row
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery007
      = link_to image_tag('gallery/thumbnail/007.jpg'), asset_path('gallery/lightbox/007.jpg'), :'data-lightbox' => "image.id"
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery008
      = link_to image_tag('gallery/thumbnail/008.jpg'), asset_path('gallery/lightbox/008.jpg'), :'data-lightbox' => "image.id"
  .col-xs-12.col-sm-4
    .thumbnail{ style: "width:200px" }
      .caption
        %p gallery009
      = link_to image_tag('gallery/thumbnail/009.jpg'), asset_path('gallery/lightbox/009.jpg'), :'data-lightbox' => "image.id"
